.align{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.body-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.done {
  text-decoration: line-through;
}

 .list {
  list-style-type: none;
  padding: 0%;
}

.list-wrapper{
  display: flex;
  flex-direction: row;
}

.listElem{
  padding-left: 10px;
}